---
import SiteLayout from "../../../layouts/SiteLayout.astro";
---
<SiteLayout title="UltraNOx - Veristio">
  <h1>UltraNOx</h1>
  <p>Official product page for UltraNOx under Veristio.</p>
  <p><a href="/products">Back to Products -&gt;</a></p>
</SiteLayout>

