---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import ProductFooterNav from "../../../components/ProductFooterNav.astro";
---
<SiteLayout title="UltraAdvantage - Veristio">
  <h1>UltraAdvantage</h1>

  <p>
    UltraAdvantage provides guidance, enablement, and support services
    to accelerate successful adoption of Veristio products.
  </p>

  <p>
    It exists to reduce friction, shorten learning curves, and improve
    real-world outcomes.
  </p>

  <ProductFooterNav />
</SiteLayout>
