---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="UltraControl - Veristio">
  <h1>UltraControl</h1>
  <p>This page is a short link.</p>
  <p><a href="/products/ultracontrol">Go to the UltraControl product home -&gt;</a></p>
</SiteLayout>
