---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="UltraSignal - Veristio">
  <h1>UltraSignal</h1>
  <p>This page is a short link.</p>
  <p><a href="/products/ultrasignal">Go to the UltraSignal product home -&gt;</a></p>
</SiteLayout>
