---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="Terms of Service - Veristio">
  <h1>Terms of Service</h1>
  <p>This page is part of the Veristio Legal &amp; Terms hub.</p>
  <p><a href="/legal">Go to Legal &amp; Terms -&gt;</a></p>
</SiteLayout>
