---
import SiteLayout from "../layouts/SiteLayout.astro";
---
<SiteLayout title="UltraPro - Veristio">
  <h1>UltraPro</h1>
  <p>This page is a short link.</p>
  <p><a href="/products/ultrapro">Go to the UltraPro product home -&gt;</a></p>
</SiteLayout>
